.b{
    margin-right: 10px;
}
.class{
    background-color: rgb(164, 222, 222);
    height:100px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 30px;
}
.table{
    margin-top: 50px;
    margin-left: 10px;
    width: 80%;
   
}