

<h1>Ajouter un produit</h1>
<div class="form">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quantite</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Prix</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <button class="btn btn-primary">Enregistrer</button>
</div>